{{!-- <div class="form-group">
    <label for="title">Title</label>
    <input type="text" placeholder="" required name="title" id="title" class="form-control" value={{article.title}}>
</div>
<div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="form-control">{{article.description}}</textarea>
</div>
<div class="form-group">
    <label for="markdown">Markdown</label>
    <textarea required name="markdown" id="markdown" class="form-control">{{article.markdown}}</textarea>
</div>


<br>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>

 --}}


{{!-- <div class="upper-container">
    <div class="div-left">
        <div class="logoAndNav">
            <a href="">
                <span><img src="img/6.png" width="50px" alt=""></span>
            </a>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
            </ul>
        </div>
        <form action="" method="get">
            <input class="form-input" type="text" name="query" placeholder="Search for Companies">
            <button class="btn">Search</button>
        </form>
    </div>
</div>

</div> --}}
<div class="contact-content font1 max-width-1 m-auto">
    <div class="max-width-1 m-auto mx-1">
        <h2>Write Your Interview Experience</h2>
        <div class="contact-form">
            <div class="form-box">
                <input type="text" name="name" placeholder="Enter Your Name" value={{article.name}}>
            </div>
            <div class="form-box">
                <input type="text" name="phoneno" placeholder="Enter Your Phone Number" value={{article.phoneno}}>
            </div>
            <div class="form-box">
                <input type="text" name="title" placeholder="Enter Title" value={{article.title}} />
            </div>
            <div class="form-box">
                <input type="text" name="company" placeholder="Mention the Company Name" value={{article.company}} >
            </div>
            <div class="form-box">
                <textarea name="description" id="" rows="10" placeholder="Write Here">{{article.description}}</textarea>
            </div>
            <div class="form-box1">
                <button type="submit" class="btn">Submit</button>
                <button type="submit" class="btn">Cancel</button>

            </div>
           
            

        </div>
    </div>

</div>