<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/57d7b546f7.js" crossorigin="anonymous"></script>
    <title>Interview-Insights</title>
    <link rel="stylesheet" href="/css/article/utils.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/ckeditor5/29.1.0/classic/ckeditor.js"></script>

</head>

<body>
      <nav>
    <div class="header">
      <h1><i class="fa-brands fa-aws"></i></h1>
    <a href="/home" class="webName"><h2 style="font-weight:900">Interview Insights</h2></a>
    </div>
    <div class="navButton">
      <a href="/articles/new" class="articleButtons">Write article</a>
      <a href="/articles/request" class="articleButtons" >Request article</a>
    </div>
  </nav>
    <div class="fill-container">
        <form action="/admin/{{article.id}}?_method=PUT" method="POST">
            {{!-- {{>_form_fields}} --}}
                <div class="info-box">
                    <div class="form-headline">
                        <h2>Edit Interview Experience</h2>
                    </div>
                    <div class="contact-form">
                        <div class="form-box">
                            <h4>Title</h4>
                            <input type="text" name="title" placeholder="Enter Title" value={{article.title}}>
                        </div>
                        <div class="companyUser">
                            <div class="form-box">
                            <h4>Company Name</h4>
                            <input type="text" name="company" placeholder="Mention the Company Name"
                                value={{article.company}}>
                        </div>
                        <div class="form-box">
                            <h4>Your Name</h4>
                            <input type="text" name="name" placeholder="Enter Your Name" value={{article.name}}>
                        </div>
                        </div>
                        <div class="form-box">
                            <h4>Email for verification</h4>
                            <input type="email" name="email" placeholder="Enter Your Email" value={{article.email}}>
                        </div>
                        <div class="form-box textareaSizing">
                            <h4>Share your experience here</h4>
                            <textarea name="description" id="description" >{{article.description}}</textarea>
                        </div>
                        <div class="form-box1">
                            <button type="submit" class="submit articleButtons">Save Changes</button>
                            <button type="submit" class="cancel articleButtons">Cancel</button>
                        </div>
                    </div>
            </div>
        </form>
    </div>
    <script>
        const submitBtn = document.querySelector("#submit");
        ClassicEditor
            .create(document.querySelector('#description'), {
                toolbar: {
                    items: [
                        'undo', 'redo',
                        '|', 'heading',
                        '|', 'bold', 'italic', 'strikethrough', 'subscript', 'superscript', 'code',
                        '|', 'link', 'blockQuote', 'codeBlock',
                        '|', 'alignment',
                        '|', 'bulletedList', 'numberedList', 'todoList', 'outdent', 'indent'
                    ],
                    shouldNotGroupWhenFull: true
                }

            })
            .then(editor => {
                console.log(editor);
            })
            .catch(error => {
                console.error(error);
            });

        submitBtn.addEventListener('click', () => {

            const editorContent = editor.getData();

            const sanitizedContent = sanitizeHtml(editorContent, {
                allowedTags: [],
                allowedAttributes: {}
            });

            document.querySelector('#description').value = sanitizedContent;
        });



    </script>

</body>

</html>