<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/interview/interview.css" />
    <script src="../../routes//articles.js"></script>
    <script src="https://kit.fontawesome.com/57d7b546f7.js" crossorigin="anonymous"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"
      rel="stylesheet"
    />
    <title>Interview-Insights</title>
  </head>
  <body>
    <nav>
      <div class="header logo">
        <img src="/images/welcome/interview.png" alt="Logo" />
        <a href="/home" class="webName"><h2 style="font-weight:900">Interview
            Insights</h2></a>
      </div>
      <div class="navButton">
        <a href="/articles/new" class="articleButtons">Write article</a>
        <a href="/request" class="articleButtons">Request article</a>
      </div>
    </nav>
    <div class="container">
      <h1 class="mb-4">{{company}}</h1>

      <div class="all-articles">
        {{#each articles}}
          <div class="card article">
            <div class="card-body">
              <h4 class="card-title title">{{this.title}}</h4>
              <div class="mb-2 description">
                {{{this.description}}}
              </div>
              <div class="readMoreAuthorTime">
                <a href="/articles/{{this.slug}}" class="readMoreButton">Read
                  more</a>
                <div class="authorTime">
                  <p>{{this.name}}</p>
                  <P>{{this.currentDate}}</P>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
      <div id="data-container">
  <h4>More References:</h4>
  <div class="link-container">
    {{#each topLinks}}
    <div class="link">
      <a href="{{this}}">
        <p><i class="fa-solid fa-up-right-from-square"></i></p>
        <p>{{this}}</p>
      </a>
    </div>
    {{/each}}
  </div>
</div>
    </div>
  </body>
</html>