
<html lang="en">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/home/home.css">
  <script src="https://kit.fontawesome.com/57d7b546f7.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <title>Interview Experience</title>
</head>

<body>
  <nav>
    <div class="header">
      <h1><i class="fa-brands fa-aws"></i></h1>
    <a href="/" class="webName"><h2 style="font-weight:900">Interview Insights</h2></a>
    </div>
    <div class="navButton">
      <a href="/articles/new" class="articleButtons">Write article</a>
      <a href="/articles/request" class="articleButtons" >Request article</a>
    </div>
  </nav>
  <div class="completeContainer">

    
    <div class="companies">
      <h4>Company List</h4>
      {{#each company}}
      <a href="/interview/{{this.title}}">
      <div class="company">
        
        <h4 class="card-title">{{this.title}}</h4>
        <div class="count">
          {{this.count}}
        </div>
      
      </div>
        </a>
      {{/each}}
    </div>
    <div class="lottie">
      <iframe class="lottieImage" src="https://embed.lottiefiles.com/animation/76035"></iframe>
      <p>Interview Insights: Experience Sharing platform developed for WCE to read & share encounters of various
        interviews</p>
    </div>
    <div class="articles">
      <h4>All Articles</h4>
      {{#each articles}}
      <div class="article">
        <div class="card-body">
          <h4 class="card-title">{{this.title}}</h4>
          <div class="card-subtitle text-muted mb-2">
            {{this.createdAt}}
          </div>
          <div class="card-text mb-2">
            {{this.description}}
          </div>
          <a href="/articles/{{this.slug}}" class="articleButtons">Read more</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</body>

</html>